<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('FLM')" data-ng-class="{active: currency.symbol == 'FLM'}">FLM</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mFLM')" data-ng-class="{active: currency.symbol == 'mFLM'}">mFLM</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('folms')" data-ng-class="{active: currency.symbol == 'folms'}">folms</a>
  </li>
</ul>

